* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    padding: 1px;
    background-color: #fefefe;
}

#tabelaPeriodica {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#elemento {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 40px;
    height: 40px;
    color: #fffafa;
    box-shadow: 0px 0px 5px rgba(45, 45, 45, 0.35);
    padding: 10px;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}

#elemento:hover {
    opacity: 0.6;
}