* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 5px;
}

#tabelaPeriodica {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#elemento {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 65px;
    height: 60px;
    background-color: rgb(117, 223, 106);
    color: #fffafa;
    box-shadow: 0px 0px 5px rgba(45, 45, 45, 0.35);
    padding: 3px;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
    transition: 500ms;
}

#elemento:hover {
    background-color: rgba(118, 223, 106, 0.815);
}

#tabelaPeriodicaInferior{
    display: flex;
    justify-content: end;
    margin-top: 15px;
    margin-right: 29px;
}

